@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
body {
  font-family: "jost";
}

.content {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 20px;
}

@media (max-width: 600px) {
  .content {
    padding: 0 10px;
  }
}

.wrapper {
  position: relative;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  margin-top: 101px;
}

@media (max-width: 767px) {
  main {
    margin-top: 70px;
  }
}

@media (max-width: 576px) {
  main {
    margin-top: 60px;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 22px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  color: #292F36;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px;
  position: relative;
  z-index: 999;
  background-color: #fff;
}

@media (max-width: 767px) {
  .header__item {
    min-height: 70px;
    padding: 10px 0;
  }
}

@media (max-width: 576px) {
  .header__item {
    min-height: 60px;
    padding: 5px 0;
    margin: 0 -10px;
    border-bottom: 1px solid #000;
  }
}

.header__logo {
  margin-right: 10px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  .header__logo {
    width: 145px;
  }
}

.header__burger {
  display: none;
}

@media (max-width: 576px) {
  .header__burger {
    display: block;
  }
}

@media (max-width: 576px) {
  .header__list {
    display: none;
  }
}

.header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

@media (max-width: 767px) {
  .header__list ul {
    gap: 20px;
  }
}

.active {
  color: #CDA274;
}

.header__list_link {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0.4px;
  white-space: nowrap;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

@media (max-width: 767px) {
  .header__list_link {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .header__list_link {
    font-size: 15px;
  }
}

.header__list_link:hover {
  color: #CDA274;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.header__list_link:active {
  color: #CDA274;
}

.header__burger {
  width: 40px;
  height: 40px;
  position: relative;
}

.header__burger::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #292F36;
  position: absolute;
  top: 12px;
  left: 10px;
}

.header__burger::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #292F36;
  position: absolute;
  bottom: 12px;
  left: 10px;
}

.header__burger span::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #292F36;
  position: absolute;
  top: 19px;
  left: 10px;
}

.burger__button_active {
  width: 40px;
  height: 40px;
  position: relative;
}

.burger__button_active::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #292F36;
  position: absolute;
  top: 19px;
  left: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__button_active::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  background-color: #292F36;
  position: absolute;
  bottom: 19px;
  left: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__button_active span::after {
  content: "";
  display: none;
}

.burger__content {
  display: none;
}

@media (max-width: 576px) {
  .burger__content {
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in;
    display: block;
    position: absolute;
    z-index: 89;
    width: 100vw;
    min-height: 750px;
    background-color: #CDA274;
    padding: 80px 15px 15px 45px;
  }
}

.burger__content_item {
  margin-bottom: 25px;
  font-size: 25px;
}

.trans {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.interior {
  margin-bottom: 100px;
  padding: 194px 0 250px 0;
  background: url(../img/main__block.jpg) center center no-repeat;
  border-radius: 0 0 0 290px;
  max-width: 1440px;
  margin: auto;
  margin-bottom: 100px;
}

@media (max-width: 992px) {
  .interior {
    border-radius: 0;
    padding: 60px 0;
  }
}

@media (max-width: 767px) {
  .interior {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .interior {
    background: url(../img/main__block.jpg) 60% 70% no-repeat;
    position: relative;
  }
  .interior:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #292F36;
    opacity: 0.25;
    z-index: 0;
  }
}

.interior__text {
  max-width: 595px;
}

h1 {
  font-family: 'DM Serif Display';
  font-size: 75px;
  line-height: 120%;
  letter-spacing: 0.22px;
  color: #292F36;
  margin-bottom: 19px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 35px;
    margin-bottom: 15px;
  }
}

.interior__text_p {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

@media (max-width: 767px) {
  .interior__text_p {
    max-width: 300px;
  }
}

.interior__text_btn {
  margin-top: 35px;
  display: inline-block;
  padding-left: 35px;
  line-height: 70px;
  width: 200px;
  height: 70px;
  background: #0f0f0f;
  border: 2px solid #292F36;
  border-radius: 19px;
  position: relative;
  z-index: 1;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: All 500ms linear;
  transition: All 500ms linear;
}

.interior__text_btn:hover {
  background-color: #363030;
  -webkit-transition: All 300ms linear;
  transition: All 300ms linear;
}

.interior__text_btn:active {
  background-color: #363030;
  -webkit-transition: All 300ms linear;
  transition: All 300ms linear;
}

@media (max-width: 576px) {
  .interior__text_btn {
    margin-top: 15px;
    width: 160px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0;
    border-radius: 0 30px 30px 0;
  }
}

.interior__text_btn:after {
  content: "";
  display: block;
  width: 24px;
  height: 2px;
  background-color: #CDA274;
  position: absolute;
  right: 20px;
  top: 35px;
}

@media (max-width: 576px) {
  .interior__text_btn:after {
    display: none;
  }
}

.interior__text_btn:before {
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  width: 18px;
  height: 2px;
  background-color: #CDA274;
  position: absolute;
  right: 18px;
  top: 28px;
}

@media (max-width: 576px) {
  .interior__text_btn:before {
    display: none;
  }
}

.interior__text_btn span:before {
  content: "";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  width: 18px;
  height: 2px;
  background-color: #CDA274;
  position: absolute;
  right: 18px;
  bottom: 23px;
}

@media (max-width: 576px) {
  .interior__text_btn span:before {
    display: none;
  }
}

.disign_elements {
  margin-bottom: 75px;
}

@media (max-width: 576px) {
  .disign_elements {
    margin-bottom: 20px;
  }
}

.disign_elements__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .disign_elements__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.disign_elements__item {
  -webkit-box-flex: 33.333%;
      -ms-flex: 33.333%;
          flex: 33.333%;
  padding: 73px 0;
  margin: 0px 45px;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 992px) {
  .disign_elements__item {
    margin: 0 25px;
    padding: 53px 0;
  }
}

@media (max-width: 767px) {
  .disign_elements__item {
    margin: 0 15px;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .disign_elements__item {
    background-color: rgba(205, 162, 116, 0.6);
    padding: 0 5px;
    margin-bottom: 20px;
    border-radius: 3px;
    min-height: 100px;
  }
}

h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 156%;
  letter-spacing: 0.22px;
  margin-bottom: 17px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 22px;
  }
}

.disign_elements_p {
  text-align: center;
  margin-bottom: 35px;
  font-size: 22px;
  line-height: 150%;
}

@media (max-width: 767px) {
  .disign_elements_p {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .disign_elements_p {
    max-width: 300px;
  }
}

.disign_elements_btn {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.36px;
}

@media (max-width: 576px) {
  .disign_elements_btn {
    margin-bottom: 15px;
  }
}

.disign_elements_btn:after {
  content: "";
  display: block;
  width: 25px;
  height: 20px;
  background: transparent url(../img/arrow.svg) no-repeat;
  position: absolute;
  top: 4px;
  right: -34px;
}

.disign_elements_btn:hover {
  color: #CDA274;
}

.our_works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 140px;
}

@media (max-width: 767px) {
  .our_works {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 80px;
  }
}

@media (max-width: 576px) {
  .our_works {
    margin-bottom: 60px;
  }
}

.our_works__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 40px;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .our_works__text {
    padding-top: 0;
  }
}

.our_works__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  min-width: 350px;
}

@media (max-width: 767px) {
  .our_works__img {
    margin-bottom: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.our_works__img img {
  border-radius: 0px 326px 0px 123px;
}

@media (max-width: 576px) {
  .our_works__img img {
    border-radius: 5px;
  }
}

@media (max-width: 576px) {
  .our_works__img {
    min-width: 300px;
  }
}

h3 {
  font-family: 'DM Serif Display';
  font-size: 50px;
  line-height: 130%;
  letter-spacing: 0.22px;
  margin-bottom: 42px;
}

@media (max-width: 992px) {
  h3 {
    font-size: 35px;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  h3 {
    display: none;
  }
}

.our_works_p {
  max-width: 530px;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

@media (max-width: 992px) {
  .our_works_p {
    font-size: 20px;
  }
}

.our_works_tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0 50px 0;
}

@media (max-width: 600px) {
  .our_works_tel {
    margin: 15px 0 25px;
  }
}

.our_works_tel_ico {
  margin-right: 20px;
  display: block;
  width: 93px;
  height: 93px;
  border-radius: 50%;
  background: #F4F0EC url(../img/tel_ico.svg) center center no-repeat;
}

@media (max-width: 576px) {
  .our_works_tel_ico {
    width: 60px;
    height: 60px;
    background-size: 40%;
  }
}

.our_works_tel_text {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

@media (max-width: 767px) {
  .our_works_tel_text {
    font-size: 17px;
  }
}

.our_works_btn {
  display: inline-block;
  background: #292F36 url(../img/arrow.svg) 90% 55% no-repeat;
  border: 2px solid #292F36;
  border-radius: 18px;
  color: #fff;
  line-height: 65px;
  padding: 0 65px 0 31px;
}

@media (max-width: 576px) {
  .our_works_btn {
    border-radius: 0 30px 30px 0;
    font-size: 16px;
    background-size: 10%;
    padding: 0 45px 0 10px;
    background: #292F36 url(../img/arrow.svg) 95% 52% no-repeat;
    line-height: 50px;
  }
}

.our_works_title {
  display: none;
}

@media (max-width: 767px) {
  .our_works_title {
    display: block;
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'DM Serif Display';
  }
}

@media (max-width: 576px) {
  .our_works_title {
    font-size: 22px;
  }
}

.reviews {
  background: #F4F0EC;
  border-radius: 70px;
  padding: 103px 0 120px 0;
}

@media (max-width: 767px) {
  .reviews {
    padding: 50px 0 50px 0;
  }
}

@media (max-width: 576px) {
  .reviews {
    border-radius: 5px;
    padding: 20px 0 30px 0;
    margin: 0 -10px;
  }
}

.reviews__title {
  margin-bottom: 47px;
  text-align: center;
  font-family: 'DM Serif Display';
  font-size: 45px;
  line-height: 130%;
  letter-spacing: 0.22px;
  color: #292F36;
}

@media (max-width: 992px) {
  .reviews__title {
    font-size: 37px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .reviews__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .reviews__title {
    font-size: 25px;
  }
}

.reviews__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 45px;
}

@media (max-width: 1200px) {
  .reviews__card {
    padding: 0 30px;
  }
}

@media (max-width: 767px) {
  .reviews__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

@media (max-width: 576px) {
  .reviews__card {
    padding: 0 10px;
  }
}

.reviews__card_item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  border-radius: 30px;
  margin: 0 9px;
  padding: 50px 30px 45px 35px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

@media (max-width: 1200px) {
  .reviews__card_item {
    padding-left: 20px;
  }
}

@media (max-width: 992px) {
  .reviews__card_item {
    padding: 15px 10px 10px 20px;
  }
}

@media (max-width: 767px) {
  .reviews__card_item {
    margin-bottom: 30px;
    max-width: 400px;
    padding: 50px 30px 45px 35px;
  }
}

@media (max-width: 576px) {
  .reviews__card_item {
    max-width: 340px;
    padding: 30px 30px 25px 35px;
  }
}

.reviews__card_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 25px;
}

@media (max-width: 992px) {
  .reviews__card_first {
    margin-bottom: 10px;
  }
}

.reviews__card_img {
  margin-right: 20px;
}

.reviews__card_img img {
  border-radius: 50%;
  width: 77px;
  height: 77px;
}

.reviews__card_title {
  font-family: 'DM Serif Display';
  font-size: 25px;
}

@media (max-width: 992px) {
  .reviews__card_title {
    font-size: 20px;
  }
}

.reviews__card_subtitle {
  font-size: 18px;
}

@media (max-width: 992px) {
  .reviews__card_subtitle {
    font-size: 16px;
  }
}

.reviews__card_textBottom {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 576px) {
  .reviews__card_textBottom {
    font-size: 16px;
  }
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 140px 0 90px 0;
}

@media (max-width: 992px) {
  .brand {
    padding: 100px 0 60px 0;
  }
}

@media (max-width: 767px) {
  .brand {
    padding: 60px 40px;
  }
}

@media (max-width: 576px) {
  .brand {
    padding: 20px 0;
  }
}

.brand__item {
  margin-left: 45px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .brand__item {
    margin-left: 0px;
    margin-right: 20px;
  }
}

.recent__project {
  text-align: center;
}

.recent__project_title {
  font-family: 'DM Serif Display';
  font-size: 47px;
  line-height: 133%;
  letter-spacing: 0.22px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .recent__project_title {
    font-size: 37px;
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .recent__project_title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}

@media (max-width: 576px) {
  .recent__project_title {
    font-size: 25px;
  }
}

.recent__project_p {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

@media (max-width: 767px) {
  .recent__project_p {
    font-size: 18px;
  }
}

.recent__project_wraper {
  margin-top: 70px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 992px) {
  .recent__project_wraper {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
  .recent__project_wraper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}

@media (max-width: 576px) {
  .recent__project_wraper {
    margin-top: 20px;
  }
}

.recent__project_item {
  max-width: 590px;
  margin-bottom: 40px;
}

.recent__project_item img {
  margin-bottom: 24px;
  border-radius: 0 80px 0 0;
}

@media (max-width: 767px) {
  .recent__project_item {
    margin: 0 auto;
  }
}

.recent__card_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent__card_left {
  text-align: left;
  line-height: 156%;
  letter-spacing: 0.22px;
}

.recent__card_left h5 {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 24px;
}

@media (max-width: 992px) {
  .recent__card_left h5 {
    font-size: 20px;
  }
}

.recent__card_left p {
  font-size: 22px;
}

@media (max-width: 992px) {
  .recent__card_left p {
    font-size: 19px;
  }
}

.recent__project_p {
  font-size: 22px;
}

@media (max-width: 992px) {
  .recent__project_p {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .recent__project_p {
    display: none;
  }
}

.recent__card_btn a {
  display: block;
  width: 70px;
  height: 70px;
  background: #F4F0EC;
  border-radius: 100px;
  position: relative;
}

.recent__card_btn a:after {
  content: "";
  display: block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border: 2px solid #292F36;
  width: 25px;
  position: absolute;
  top: 41px;
  left: 27px;
  border-radius: 10px;
}

.recent__card_btn a:before {
  content: "";
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 2px solid #292F36;
  width: 25px;
  position: absolute;
  top: 25px;
  left: 27px;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .recent__card_btn a {
    width: 55px;
    height: 55px;
  }
  .recent__card_btn a:after {
    content: "";
    display: block;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border: 2px solid #292F36;
    width: 20px;
    position: absolute;
    top: 33px;
    left: 20px;
    border-radius: 10px;
  }
  .recent__card_btn a:before {
    content: "";
    display: block;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border: 2px solid #292F36;
    width: 20px;
    position: absolute;
    top: 21px;
    left: 20px;
    border-radius: 10px;
  }
}

.attainment {
  padding: 80px 0 130px 0;
}

@media (max-width: 992px) {
  .attainment {
    padding: 60px 0 60px 0;
  }
}

@media (max-width: 576px) {
  .attainment {
    padding: 40px 0 30px 0;
  }
}

.attainment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F4F0EC;
  padding: 140px 0;
}

@media (max-width: 992px) {
  .attainment__content {
    padding: 80px 0;
  }
}

@media (max-width: 767px) {
  .attainment__content {
    padding: 50px 0;
  }
}

.attainment__content_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  border-left: 1px solid #cda274;
  text-align: center;
}

.attainment__content_item:nth-child(1) {
  border-left: none;
}

.attainment__item_title {
  color: #cda274;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 150%;
  letter-spacing: 1.7px;
  margin: 12px 0;
}

@media (max-width: 992px) {
  .attainment__item_title {
    font-size: 60px;
  }
}

@media (max-width: 767px) {
  .attainment__item_title {
    font-size: 45px;
  }
}

.attainment__item_subtitle {
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.22px;
  margin: 0 5px;
}

@media (max-width: 992px) {
  .attainment__item_subtitle {
    font-size: 19px;
  }
}

@media (max-width: 576px) {
  .attainment__item_subtitle {
    font-size: 14px;
    line-height: 120%;
  }
}

.blog {
  text-align: center;
}

.blog__p {
  margin-bottom: 70px;
}

.blog__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(260px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.blog__net_item {
  border: 1px solid #E7E7E7;
  border-radius: 62px;
  padding: 20px 20px 40px 20px;
  max-width: 387px;
  text-align: left;
  margin: 0 auto 40px auto;
}

.blog__item_img img {
  border-radius: 45px 45px 0 0;
  margin-bottom: 15px;
}

.blog__item_title {
  font-family: 'DM Serif Display';
  font-size: 25px;
  line-height: 140%;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.blog__item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__item_textData {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.blog__item_textBtn {
  display: block;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #F4F0EC url(../img/arrow_card.svg) center center no-repeat;
}

.connection {
  margin: 100px 0 130px 0;
  background-color: #292F36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 70px;
  padding: 97px 0;
  color: #fff;
  letter-spacing: 0.22px;
  line-height: 150%;
}

@media (max-width: 992px) {
  .connection {
    padding: 70px 0;
    margin: 80px 0 100px 0;
  }
}

@media (max-width: 767px) {
  .connection {
    padding: 40px 0;
    margin: 50px 0 70px 0;
  }
}

@media (max-width: 600px) {
  .connection {
    border-radius: 5px;
    margin: 0 0 40px 0;
  }
}

.connection__title {
  font-size: 50px;
  font-family: 'DM Serif Display';
  margin-bottom: 9px;
}

@media (max-width: 767px) {
  .connection__title {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .connection__title {
    font-size: 22px;
  }
}

.connection__p {
  font-size: 22px;
  margin-bottom: 31px;
}

@media (max-width: 767px) {
  .connection__p {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .connection__p {
    font-size: 14px;
    line-height: 110%;
    margin-bottom: 20px;
  }
}

.connection__btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  line-height: 70px;
  font-size: 18px;
  background: #CDA274;
  border: 2px solid #CDA274;
  -webkit-box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  padding: 0 34px;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.connection__btn:hover {
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  background: #aa7c4c;
}

.connection__btn:active {
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  background: #926b42;
}

@media (max-width: 767px) {
  .connection__btn {
    padding: 0 15px;
    line-height: 50px;
  }
}

@media (max-width: 600px) {
  .connection__btn {
    border-radius: 5px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__part {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .footer__part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__left_p {
  max-width: 326px;
  letter-spacing: 0.22px;
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 30px;
}

.footer__social_networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social_networks img {
  margin-right: 40px;
}

.part__pages {
  padding-right: 100px;
}

@media (max-width: 992px) {
  .part__pages {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .part__pages {
    padding-right: 210px;
  }
}

@media (max-width: 600px) {
  .part__pages {
    padding-left: 0;
  }
}

.pages__title {
  font-family: 'DM Serif Display';
  font-size: 25px;
  margin-bottom: 21px;
  line-height: 150%;
  letter-spacing: 0.22px;
}

@media (max-width: 576px) {
  .pages__title {
    margin: 25px 0 5px 0;
  }
}

.pages__list li {
  line-height: 150%;
  letter-spacing: 0.22px;
}

@media (max-width: 576px) {
  .pages__list li {
    line-height: 100%;
    padding-left: 15px;
  }
}

.pages__list li:not(:last-child) {
  margin-bottom: 30px;
}

.contact__list {
  max-width: 320px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .contact__list {
    padding-right: 0;
  }
}

.footer__list_contact {
  margin-left: 10px;
}

@media (max-width: 600px) {
  .footer__list_contact {
    margin-left: 0;
  }
}

.part__logo {
  padding-left: 10px;
}

@media (max-width: 600px) {
  .part__logo {
    padding-left: 0;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */