


.brand {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	padding: 140px 0 90px 0;
	@media (max-width: 992px){
		padding: 100px 0 60px 0;
	}
	@media (max-width: $Tb){
		padding: 60px 40px;
	}
	@media (max-width: $Mb){
		padding: 20px 0;
	}
	
	
}

.brand__item {
	margin-left: 45px;
	margin-bottom: 20px;
	@media (max-width: $Mb){
		margin-left: 0px;
		margin-right: 20px;
	}
	
}

