


.footer{
	display: flex;
	@media (max-width: $Tb){
		flex-direction: column;
	}
}
.footer__part{
	flex: 0 1 50%;
	display: flex;
	justify-content: space-between;
	@media (max-width: 600px){
		flex-direction: column;
	}
}

.footer__left_p{
	max-width: 326px;
	letter-spacing: 0.22px;
	font-size: 22px;
	line-height: 150%;
	margin-bottom: 30px;
}
.footer__social_networks{
	display: flex;
	img{
		margin-right: 40px;
	}
}

.part__pages {
	padding-right: 100px;
	@media (max-width: 992px){
		padding: 0 10px;
	}
	@media (max-width: $Tb){
		padding-right: 210px;
	}
	@media (max-width: 600px){
		padding-left: 0;
	}
	


	
	
}

.pages__title {
font-family: 'DM Serif Display';
font-size: 25px;
margin-bottom: 21px;
line-height: 150%;
letter-spacing: 0.22px;
@media (max-width: $Mb){
	margin: 25px 0 5px 0;
}

}
.pages__list {
	li{
		line-height: 150%;
		letter-spacing: 0.22px;
		@media (max-width: $Mb){
			line-height: 100%;
			padding-left: 15px;
		}
	}
	li:not(:last-child){
		margin-bottom: 30px;
	}
}

.contact__list{
	max-width: 320px;
	padding-right: 15px;
	@media (max-width: 992px){
		padding-right: 0;
	}
	
}

.footer__list_contact{
	margin-left: 10px;
	@media (max-width: 600px){
		margin-left: 0;
	}
	
}

.part__logo{
	padding-left: 10px;
@media (max-width: 600px){
	padding-left: 0;
	margin-bottom: 20px;
}
	
}

