header{
	position: fixed;
	top: 0;
	left: 0;
	color: #292F36;
	width: 100%;
	background-color: #fff;
	z-index: 9999;
	user-select: none;
}


.header__item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 0px;
	position: relative;
	z-index: 999;
	background-color: #fff;

	@media (max-width: $Tb){
		min-height: 70px;
		padding: 10px 0;
	}
	@media (max-width: $Mb){
		min-height: 60px;
		padding: 5px 0;
		margin: 0 -10px;
		border-bottom: 1px solid #000;
	}
	
}
.header__logo{
		margin-right: 10px;	
		margin-left: 10px;	
		@media (max-width: $Mb){
			width: 145px;
		}
		 
}







.header__burger{
	display: none;
	@media (max-width: $Mb){
		display: block;
	}
	
}

.header__list{
	@media (max-width: $Mb){
		display: none;
	}
	ul{
		display: flex;
		gap: 40px;
		@media (max-width: $Tb){
			gap: 20px;
		}
		
	}
}
.active{
	color: #CDA274;
}

.header__list_link {
	font-size: 20px;
	line-height: 1;
	letter-spacing: 0.4px;
	white-space: nowrap;
	transition: all 500ms linear;
	@media (max-width: $Tb){
		font-size: 18px;
	}
	@media (max-width: $Mb){
		font-size: 15px;
	}
	&:hover{
		color: #CDA274;
		transition: all 500ms linear;
	}
	&:active{
		color: #CDA274;
	}
}

.header__burger{
	width: 40px;
	height: 40px;
	position: relative;
	&::after{
		content: "";
		display: block;
		width: 20px;
		height: 2px;
		border-radius: 5px;
		background-color: #292F36;
		position: absolute;
		top: 12px;
		left: 10px;
	}
	&::before{
		content: "";
		display: block;
		width: 20px;
		height: 2px;
		border-radius: 5px;
		background-color: #292F36;
		position: absolute;
		bottom: 12px;
		left: 10px;
	}
	span{
		&::after{
			content: "";
			display: block;
			width: 20px;
			height: 2px;
			border-radius: 5px;
			background-color: #292F36;
			position: absolute;
			top: 19px;
			left: 10px;
		}
	}
}



.burger__button_active{
	width: 40px;
	height: 40px;
	position: relative;
	&::after{
		content: "";
		display: block;
		width: 20px;
		height: 2px;
		border-radius: 5px;
		background-color: #292F36;
		position: absolute;
		top: 19px;
		left: 10px;
		transform: rotate(45deg);
	}
	&::before{
		content: "";
		display: block;
		width: 20px;
		height: 2px;
		border-radius: 5px;
		background-color: #292F36;
		position: absolute;
		bottom: 19px;
		left: 10px;
		transform: rotate(-45deg);
	}
	span{
		&::after{
			content: "";
			display: none;
			
		}
	}
}
.burger__content{
	display: none;
	@media (max-width: $Mb){
		transition:all 1s ease-in;
	display: block;
	position: absolute;
	z-index: 89;
	width: 100vw;
	min-height: 700px;
	background-color: #CDA274;
	padding: 80px 15px 15px 45px;

	}
}

.burger__content_item{
		margin-bottom: 25px;
		font-size: 25px;
}



.trans{
	transition:all 1s ease-in;
	transform: translateY(-100%);
}