.our_works {
	display: flex;
	margin-bottom: 140px;
	@media (max-width: $Tb){
		flex-direction: column-reverse;
		margin-bottom: 80px;
	}
	@media (max-width: $Mb){
		margin-bottom: 60px;
	}	
}


.our_works__text {
	flex: 0 1 50%;
	padding-top: 40px;
	margin-right: 10px;
	@media (max-width: 992px){
		padding-top: 0;
	}
	
}
.our_works__img {
	flex: 0 1 50%;

	min-width: 350px;
	@media (max-width: $Tb){
		margin-bottom: 20px;
		align-self: center;
	}
	img{
		border-radius: 0px 326px 0px 123px;
		@media (max-width: $Mb){
			border-radius: 5px;
		}
	}
	@media (max-width: $Mb){
		min-width: 300px;
	}
	
}

h3{

	font-family: 'DM Serif Display';
	font-size: 50px;
	line-height: 130%;
	letter-spacing: 0.22px;
	margin-bottom: 42px;

	@media (max-width: 992px){
		font-size: 35px;
		margin-bottom: 25px;
	}
	@media (max-width: $Tb){
		display: none;
	}
	
}

.our_works_p{
	max-width: 530px;
	font-size: 22px;
	line-height: 150%;
	letter-spacing: 0.22px;
	@media (max-width: 992px){
		font-size: 20px;
	}
}

.our_works_tel {
	display: flex;
	align-items: center;
	margin: 40px 0 50px 0;
	@media (max-width: 600px){
		margin: 15px 0 25px;
	}
	
}

.our_works_tel_ico {
	margin-right: 20px;
	display: block;
	width: 93px;
	height: 93px;
	border-radius: 50%;
	background: #F4F0EC url(../img/tel_ico.svg) center center no-repeat;
	@media (max-width: $Mb){
		width: 60px;
		height: 60px;
		background-size: 40%;
	}
	
}
.our_works_tel_text {
font-size: 24px;
line-height: 150%;
letter-spacing: 0.22px;
@media (max-width: $Tb){
	font-size: 17px;
}
}

.our_works_btn{
	display: inline-block;
	background: #292F36 url(../img/arrow.svg) 90% 55% no-repeat;
border: 2px solid #292F36;
border-radius: 18px;
color: #fff;
line-height: 65px;
padding: 0 65px 0 31px;
@media (max-width: $Mb){
	border-radius: 0 30px 30px 0;
	font-size: 16px;
background-size: 10%;
	padding: 0 45px 0 10px;
	background: #292F36 url(../img/arrow.svg) 95% 52% no-repeat;
	line-height: 50px;
}
}
.our_works_title{
		display: none;
		@media (max-width: $Tb){
			display: block;
			font-size: 25px;
			margin-bottom: 20px;
			font-family: 'DM Serif Display';
		}
		
		@media (max-width: $Mb){
			font-size: 22px;
		}
		
}